
<header id="top-header">
  <div class="logo">
    <a href="./index.html">
      <img
        src="./assets/images/Logo-horizontalni-krive.svg"
        alt="NaNTech Solutions Logo"
      />
    </a>
  </div>
</header>

<div id="nav-placeholder">
  <nav class="navbar navbar-expand-md p-2" id="nav-header">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a
              class="nav-link text-bs-dark fw-bold px-2"
              aria-current="page"
              href="./index.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-bs-dark fw-bold px-2"
              aria-current="page"
              href="./company.html"
              >Company</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-bs-dark fw-bold px-2"
              aria-current="page"
              href="./products.html"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-bs-dark fw-bold px-2"
              aria-current="page"
              href="./services.html"
              >Services</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
