<!-- No DOCTYPE, HTML, HEAD, or BODY tags here! -->
<header id="top-header">
  <div class="logo">
    <a href="./index.html">
      <img
        src="./assets/images/Logo-horizontalni-krive.svg"
        alt="NaNTech Solutions Logo"
      />
    </a>
  </div>
</header>

<div id="nav-placeholder">
  <nav class="navbar navbar-expand-md p-2" id="nav-header">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              SERVICES
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="./services.html#asic-fpga-design"
                  >ASIC and FPGA Design</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="./services.html#sw-hw-codesign"
                  >SW-HW Co-design</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="./services.html#digital-verification"
                  >Digital Verification</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="./services.html#embedded-sw"
                  >Embedded SW</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="./services.html#sw-consulting"
                  >SW Consulting</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="./products.html"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              PRODUCTS
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="./products.html#gen-accel"
                  >Gen-accel</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="./products.html#fpga-nanaccel"
                  >FPGA NaNAccel</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="./products.html#support"
                  >Support</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="./company.html"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              COMPANY
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="./company.html#about"
                  >About NaN Tech Solutions BV</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="./company.html#vision">Vision</a>
              </li>
              <li>
                <a class="dropdown-item" href="./company.html#team"
                  >Core Team</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
